absl-py==2.4.0
accelerate==1.12.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alembic==1.18.4
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
apprise==1.9.7
asteroid-filterbanks==0.4.0
async-timeout==5.0.1
attrs==25.4.0
audioread==3.1.0
bitsandbytes==0.49.2
brouhaha @ https://github.com/marianne-m/brouhaha-vad/archive/main.zip#sha256=a9b920b8ffb89be2054c2098a0afb2af824a1c7f3c54d70878d1f82ba59d9019
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.8
cloudpickle==3.1.2
coloredlogs==15.0.1
colorlog==6.10.1
contourpy==1.3.2
cuda-bindings==12.9.4
cuda-pathfinder==1.3.5
cycler==0.12.1
datasets==2.18.0
decorator==5.2.1
demucs==4.0.1
dill==0.3.8
docopt==0.6.2
dora_search==0.1.12
einops==0.8.2
et_xmlfile==2.0.0
exceptiongroup==1.3.1
filelock==3.24.3
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2024.2.0
g2p==2.3.1
googleapis-common-protos==1.72.0
greenlet==3.3.2
grpcio==1.78.1
h11==0.16.0
hf-xet==1.3.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.4.1
humanfriendly==10.0
HyperPyYAML==1.2.3
idna==3.11
ilt-editdistance==0.8.2
ilt-panphon==0.21.4
importlib_metadata==8.7.1
Jinja2==3.1.6
joblib==1.5.3
julius==0.2.7
kiwisolver==1.4.9
lameenc==1.8.1
lazy_loader==0.4
librosa==0.11.0
lightning==2.6.1
lightning-utilities==0.15.3
llvmlite==0.46.0
Mako==1.3.10
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.1
multiprocess==0.70.16
munkres==1.1.4
networkx==3.4.2
numba==0.64.0
numpy==1.24.4
nvidia-cublas-cu12==12.4.2.65
nvidia-cuda-cupti-cu12==12.4.99
nvidia-cuda-nvrtc-cu12==12.4.99
nvidia-cuda-runtime-cu12==12.4.99
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.0.44
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.5.119
nvidia-cusolver-cu12==11.6.0.99
nvidia-cusparse-cu12==12.3.0.142
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvshmem-cu12==3.4.5
nvidia-nvtx-cu12==12.4.99
oauthlib==3.3.1
omegaconf==2.3.0
openpyxl==3.1.5
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
openunmix==1.3.0
optuna==4.7.0
#packaging @ file:///home/task_176104877067765/conda-bld/packaging_1761049113113/work
pandas==2.3.3
penn==1.0.0
pillow==12.1.1
platformdirs==4.9.2
pooch==1.9.0
primePy==1.3
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.2
pyannote.audio==3.3.0
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyannoteai-sdk==0.4.0
pyarrow==23.0.1
pyarrow-hotfix==0.7
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytorch-lightning==2.6.1
pytorch-metric-learning==2.9.0
pytz==2025.2
PyYAML==6.0.3
regex==2026.2.19
requests==2.32.5
requests-oauthlib==2.0.0
retrying==1.4.2
rich==14.3.3
ruamel.yaml==0.18.17
ruamel.yaml.clib==0.2.15
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
semver==3.0.4
sentencepiece==0.2.1
shellingham==1.5.4
six==1.17.0
sortedcontainers==2.4.0
soundfile==0.13.1
soxr==1.0.0
speechbrain==1.0.3
SQLAlchemy==2.0.46
submitit==1.5.4
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
text-unidecode==1.3
threadpoolctl==3.6.0
tokenizers==0.22.2
tomli==2.4.0
torbi @ file:///home/eblict/parler-tts-finetune/dataspeech/torbi

--extra-index-url https://download.pytorch.org/whl/cu124

#torch==2.4.1+cu124
#torch-audiomentations==0.12.0
#torch_pitch_shift==1.2.5
#torchaudio==2.4.1+cu124
#TorchCodec==0.1.1+cu124

torch==2.4.1
torchaudio==2.4.1
torch-audiomentations==0.12.0
torch-pitch_shift==1.2.5
torchcodec==0.1.1


torchmetrics==1.8.2
torchutil==0.1.1
tqdm==4.67.3
transformers==5.2.0
treetable==0.2.6
triton==3.0.0
typer==0.23.1
typer-slim==0.23.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
unicodecsv==0.14.1
urllib3==2.6.3
Werkzeug==3.1.6
xxhash==3.6.0
yapecs==0.4.0
yarl==1.22.0
zipp==3.23.0
